= form_for @exercise do |e|
  %p
    = e.label :name
    = e.text_field :name
  %p
    = e.label :muscle_group
    = e.collection_select :muscle_group, Exercise.MUSCLE_GROUPS, :to_s, :to_s, :include_blank => "Select A Group"
  %p
    = e.submit "Submit", :class => "btn btn-default btn-lg"