- content_for(:title, "Exercises");
.container
  = render 'form_horizontal'
  .exercise-list
    .col-md-12.col-sm-12.col-xs-12
    - Exercise.MUSCLE_GROUPS.each do |mgroup|
      -unless @all_exercises[mgroup].nil?
        .co-md-6.col-sm-6.col-xs-12
          %h2
            #{mgroup}
          - @all_exercises[mgroup].each do |exercise|
            %p
              .col-md-8.col-sm-8.col-xs-8
                %h5
                  #{exercise.name}
                %h6
                  - exercise.ex_sets.each do |data|
                    %p
                      Sets: #{data.sets}
                      Reps: #{data.reps}
                      Weight: #{data.weight} lbs
              .col-md-4.col-sm-4.col-xs-4
                =link_to edit_exercise_path(exercise), class: "btn btn-default btn-sm", id: "#{exercise.name}-edit" do
                  %i.fa.fa-edit.fa-fw
                =link_to exercise, method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-default btn-sm", id: "#{exercise.name}-delete" do
                  %i.fa.fa-trash-o.fa-fw